<!DOCTYPE html>
<html>
<head>
  <title>Currency Rate Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
    </header>
    
  <div class="container mt-5">
    <h1 class="text-primary">About Currency Rate Website</h1>
    <p class="lead">This website provides currency rates from various sources.</p>
    <p class="lead">Our goal is to help users easily access and compare currency exchange rates. We collect rates from reliable sources and present them in a user-friendly manner.</p>
    <p class="lead">Whether you are a traveler planning your next trip, a business owner dealing with international transactions, or simply curious about currency rates, our website provides the information you need.</p>
    <p class="lead">Feel free to explore our website and check the latest currency rates. We strive to keep the information up to date and accurate.</p>
  </div>


</body>
</html>
